body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    background-color: #F5F5F5;
    font-family: 'Zen Antique Soft', serif;

}

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.page-header,
.page-footer{
    min-width: 1280px;
    width: 100%;
}

.page-header{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 16px 0 24px;
    background-color: #00213B;
    min-width: 1440px;
    height: 120px;
    width: 100%;
}

.menu-list{
    display: flex;
    justify-content: flex-end;
    margin-right: 180px;
    margin-top: 60px;
}

.menu-list__item{
    margin-left: 40px;
    text-align: center;
}

.menu-list__item a{
    color: #CEE2DF;
    font-size: 20px;
}

a:hover{
    opacity: 0.7;
}

.moji{
    text-align: center;
    margin-top: 424px;
    margin-bottom: 424px;
    font-size: 50px;
    color: #00213B;
}

.moji h6{
    color: #00213B;
}

.contents{
    max-width: 1080px;
    display: flex;
    justify-content: center;
    text-align: left;
    justify-content: space-between;
}

.photo_5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    margin: 0 auto;
    max-width: 1080px;
    justify-content: space-between;
}

.photo_list{
    max-width: 48%;
    margin-bottom: 16px;
}

.photo_list h3{
    margin-top: 8px;
    margin-bottom: 120px;
    color: #00213B;
}

.page_footer{
    min-width: 1440px;
    height: 120px;
    background-color: #00213B;
    width: 100%;
}